* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.active {
  width: 15%;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  padding: 400px 0;
}

i {
  color: white;
  border: 1px solid white;
  font-size: 25px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 15px;
  transition: .5s;
}

i:hover {
  color: #000;
  background-color: #fff;
}

h1 {
  color:#fff;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #f1f1f1;
  width: 30%;
  margin: 0 auto 70px;
  border-radius: 100px;
}

.btn {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 20px 30px;
  border: 1px solid white;
  transition: .5s;
}

.btn:hover {
  color: black;
  background-color: #fff;
}

aside {
  height: 100%;
  max-width: 15%;
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: black;
  padding: 300px 0;
  transition: .3s;
}

aside ul {
  list-style: none;
  text-align: center;
}

aside ul li {
  width: 100%;
}

aside ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .5s;
}

aside ul li a:hover {
  color: white;
  background-color: #111111c2;
}

section {
  padding: 150px 100px;
  text-align: justify;
  background-color: #181818;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
}

p:not(:last-child) {
  margin-bottom: 30px;
}