article {
  padding: 100px 120px;
  width: 70%;
  margin: auto;
  background-color: $color-dark;
  box-shadow: 0 3px 6px rgba($color-black, .16);

  // .article-text {
  //   font-size: 16px;
  // }
  
}