//COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #141414;

$color-primary: #00D392;
$color-secondary: #e04d13;
$color-tertiary: #ffffff;

$light-dark: rgb(29, 29, 29);
$color-notification: rgb(10, 102, 207);

//FONT SIZES
$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;