.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper1 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  background-color: rgb(218, 78, 59);
  color: white;
  padding: 2em;
}
.wrapper1 > div {
  background-color: rgb(218, 78, 59);
  color: white;
  padding: 2em;
}